﻿@model IEnumerable<AdvMasterDetails.OrderMaster>

@{
    ViewBag.Title = "GetOrders";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Listado de facturas</h2>

<table class="table">
    <tr>
        <th>
            Numero
        </th>
        <th>
            Fecha
        </th>
        <th>
            Comentarios
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.OrderNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrderDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>        
    </tr>
}
</table>

<p>
    @Html.ActionLink("Regresar", "Index")
</p>
