﻿@{
    ViewBag.Title = "Index";
}

<div class="container">
    <div class="master">
        <h2>Factura</h2>
        <p>@Html.ActionLink("Ver facturas", "GetOrders")</p>

        <table class="table table-responsive">
            <tr>
                <td>Numero</td>
                <td>
                    <input type="text" id="orderNo" class="form-control" />
                    <span class="error">Numero requerido</span>
                </td>
                <td>Fecha</td>
                <td>
                    <input type="text" id="orderDate" class="form-control" />
                    <span class="error">Fecha requerida (ex: MM-dd-yyyy)</span>
                </td>
            </tr>
            <tr>
                <td>Comentarios</td>
                <td colspan="3">
                    <textarea id="description" class="form-control"></textarea>
                </td>
            </tr>
        </table>
    </div>
    <div class="details">
        <h4>
            Agregar productos
        </h4>
        <table class="table table-responsive">
            <tr>
                <td>Categoria</td>
                <td>Producto</td>
                <td>Cantidad</td>
                <td>Precio</td>
                <td>&nbsp;</td>
            </tr>
            <tr class="mycontainer" id="mainrow">
                <td>
                    <select id="productCategory" class="pc form-control" onchange="LoadProduct(this)">
                        <option>Select</option>
                    </select>
                    <span class="error">Select Category</span>
                </td>
                <td>
                    <select id="product" class="product form-control">
                        <option>Select</option>
                    </select>
                    <span class="error">Select product</span>
                </td>
                <td>
                    <input type="text" id="quantity" class="quantity form-control" />
                    <span class="error">Valid quantity required</span>
                </td>
                <td>
                    <input type="text" id="rate" class="rate form-control" />
                    <span class="error">Valid rate required</span> 
                </td>
                <td>
                    <input type="button" id="add" value="Agregar" style="width:80px" class="btn btn-success" />
                </td>
            </tr>
        </table>
        <div id="orderItems">
            <table class="table table-responsive" id="orderdetailsItems"></table>
            <span id="orderItemError" style="color:red"></span>
        </div>
        <div style="padding:10px 0; text-align:right">
            <input id="submit" type="button" value="Guardar factura" class="btn btn-warning" style="padding:10px 20px" />
        </div>
    </div>
</div>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" />
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script src="~/Scripts/myScripts.js"></script>
<script type="text/javascript">
    $(function () {
        $('#orderDate').datepicker({
            dateFormat: 'mm-dd-yy'
        })        
    })
</script>
<style>
    span.error{
        display:block;
        visibility:hidden;
        color:red;
        font-size:90%;
    }
    tr.error{
        background-color:rgba(255,0,0,0.35);
    }
</style>
